adf/pipeline.json
{
    "name": "Titanic",
    "properties": {
        "activities": [
            {
                "name": "Archive_Source_Data",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "UpdateStagingRecordProcessedFlag",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "wildcardFileName": {
                                "value": "@variables('v_input_file_name')",
                                "type": "Expression"
                            },
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobStorageWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".txt"
                        }
                    },
                    "enableStaging": false,
                    "dataIntegrationUnits": 2,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "PassengerId",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "PassengerId",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Survived",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Survived",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Pclass",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Pclass",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Name",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Name",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Sex",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Sex",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Age",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Age",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "SibSp",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "SibSp",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Parch",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Parch",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Ticket",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Ticket",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Fare",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Fare",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Cabin",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Cabin",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Embarked",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "Embarked",
                                    "type": "String",
                                    "physicalType": "String"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "TitanicSourceData",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "TitanicArchivedData",
                        "type": "DatasetReference",
                        "parameters": {
                            "p_output_file_name": {
                                "value": "@concat(concat(variables('v_input_file_name'), '_'),utcNow())\n",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Delete Source File",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Archive_Source_Data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "TitanicSourceData",
                        "type": "DatasetReference"
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "wildcardFileName": {
                            "value": "@variables('v_input_file_name')",
                            "type": "Expression"
                        },
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Merge_New_And_Updated_Records_Staging_History",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load_Staging_Table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[STAGING].[UPDATE_TITANIC_SOURCE_DATA_HISTORY]"
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Load_Staging_Table",
                "type": "ExecuteDataFlow",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataflow": {
                        "referenceName": "Load_Staging_Table",
                        "type": "DataFlowReference"
                    },
                    "compute": {
                        "coreCount": 8,
                        "computeType": "General"
                    },
                    "traceLevel": "Fine"
                }
            },
            {
                "name": "LoadDimensions",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Merge_New_And_Updated_Records_Staging_History",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[DATAMART].[LOAD_DIMENSIONS_DATA]"
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "LoadFact",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "LoadDimensions",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[DATAMART].[LOAD_FACT_DATA]"
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "UpdateStagingRecordProcessedFlag",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "DataQualityChecks",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[STAGING].[UPDATE_RECORD_PROCESSED_STATUS]"
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "DataQualityChecks",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "LoadFact",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[DATAMART].[DATA_QUALITY_CHECKS]"
                },
                "linkedServiceName": {
                    "referenceName": "AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "concurrency": 1,
        "variables": {
            "v_input_file_name": {
                "type": "String",
                "defaultValue": "titanic.csv"
            }
        },
        "annotations": [],
        "lastPublishTime": "2024-06-15T08:05:57Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
